<header>
  <a>
    <h1>Store</h1>
  </a>
</header>
<nav>
  <ul>
    <li><a class="name" routerLink="/menu"> <strong>Main menu</strong> </a>    </li>
    <li><a class="name" routerLink="/navbar"> <strong>CLothes category</strong> </a>    </li>
    <li><a class="name" routerLink="/info"> <strong>About Us</strong> </a>    </li>
    <li><a class="name" routerLink="/log"> <strong>Login</strong> </a>    </li>
  </ul>

</nav>
<div class="side">
  <!-- <app-nav></app-nav> -->
</div>

<div class="container">
  <!-- <app-menu></app-menu> -->

  <router-outlet></router-outlet>

</div>


