<div class="main-area">
  <div class="block">
    <h1>Sign in</h1>
    <form>
      <h2>Please write correct information</h2>
      <input type="text" placeholder="Username">
      <input type="password" placeholder="Password">
      <button><span>Sign in</span></button>
    </form>
  </div>
</div>
<div class="main-areaa">
  <div class="blockk">
    <h1>Sign Up</h1>
    <form>
      <h2>PLease write correct information</h2>
      <input type="text" placeholder="Email">
      <input type="text" placeholder="First Name">
      <input type="text" placeholder="Last Name">
      <input type="text" placeholder="Username">
      <input type="password" placeholder="Password">
      <button><span>Sign up</span></button>
    </form>
  </div>
</div>
