.container {
    display: flex;
    margin-top: 50px;
}

.description {
    margin-left: 150px;
}

.gallery {
    display: inline-block;
    width: 500px;
}

.main {
    overflow: hidden;
    display: inline-block;
    float: left;
    width: 500px;
}

.main img {
    transition: all 1.0s;
    width: 100%;
    height: auto;
}

.main:hover img {
    transform: scale(2);
}

.preview {
    display: flex;
    flex-direction: column;
}

.preview img {
    width: 90px;
    display: block;
}